@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
* {
    box-sizing: border-box;
    padding:0px;
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;
    font-family:'Roboto Mono';

}

.container{
    width: 100%;
    height: 100%;
}


.logo {
    display:flex;
    gap:0px;
}

.logo h2 {
    font-size: 20px;
    transform: translateY(25%);
}

.logo h1 {
    transform: translateY(8%);
}

.logo h1 {
    font-size: 30px;
}

.icon {
    height: 50px;
}