*{
    max-width: 100%;
}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    padding-left: 60px;
}

.mahaba {
    display: flex;
    flex-direction: row;
}

.logo{
    height: 60px;
    width:auto;
}

.text{
    color:white;
}

.p1 {
    font-weight: bolder;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.camp {
    font-family: Arial, Helvetica, sans-serif;
}

.que {
    font-size: small;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.credits {
    color: white;
    transform: translateX(3%);
    font-family: Arial, Helvetica, sans-serif;
}